/*-- scss:defaults --*/

// colors

$earl-gray: #5B9279;

$light-yellow: #FBFFF1;

$lemon-yellow: #CDEDF6;

$earth-yellow: #0B3948;

//Base Document Colors
$navbar-bg: $earl-gray;
$body-bg: $light-yellow;

.about_me {
  color: $earth-yellow;
  font: copperplate;
}

.quarto-about-jolla {
  background-color: $earl-gray;
}

$link-color: #8EA4D2;




