/*-- scss:defaults --*/

// colors

$earl-gray: #D0E3CC;

$light-yellow: #F7FFDD;

$lemon-yellow: #FCFDAF;

$earth-yellow: #DBA159;

//Base Document Colors
$navbar-bg: $earl-gray;
$body-bg: $light-yellow;